#moderncart-floating-cart {
	-js-display: flex;
	display: flex;
	align-items: center;
	gap: 5px;
	border: none;
	border-radius: 60px;
	bottom: 20px;
	height: 60px;
	position: fixed;
	left: 20px;
	top: auto;
	transition: box-shadow 0.25s ease 0s, opacity 0.4s ease 0s, scale 1s ease-in-out 0s, transform 0.2s ease-in-out 0s, bottom 0.8s ease;
	z-index: 9999;
}

#moderncart-floating-cart button {
	background-color: var( --moderncart-floating-icon-bg-color, var( --moderncart-primary-color, #705aef ) );
	align-items: center;
	appearance: none;
	border: none;
	border-radius: var( --moderncart-floating-icon-border-radius, 200px );
	bottom: 0;
	color: var( --moderncart-floating-icon-color, var( --moderncart-button-font-color, #fff ) );
	cursor: pointer;
	display: block;
	height: var( --moderncart-floating-icon-width, 60px );
	justify-content: center;
	line-height: var( --moderncart-floating-icon-width, 60px );
	margin: 0;
	min-width: var( --moderncart-floating-icon-width, 60px );
	outline: none;
	padding: 0;
	position: relative;
	transition: background-color 0.2s linear 0s, transform 0.2s linear 0s;
	-webkit-user-select: none;
	user-select: none;
	z-index: 999;
	box-shadow: 0 4px 7px rgb( 0 0 0 / 10% );
}

#moderncart-floating-cart .moderncart-floating-cart-button-notification {
	margin: 0;
	width: 100%;
	background: #fff;
	padding: 5px 10px;
	border-radius: 10px;
	border: 2px solid var( --moderncart-primary-color );
}

#moderncart-floating-cart .moderncart-floating-cart-icon {
	align-items: center;
	cursor: pointer;
	-js-display: flex;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 1 !important;
	pointer-events: none;
	position: absolute;
	text-indent: -99999px;
	top: 0;
	transform: rotate( 0deg ) scale( 1 ) !important;
	transition: opacity 80ms linear 0s, transform 0.16s linear 0s;
	width: var( --moderncart-floating-icon-width, 60px );
	will-change: opacity, transform;
}

.moderncart-cart-item-actions-remove svg {
	fill: #222;
	height: 20px;
	transition: fill 0.1s ease-in;
	width: 20px;
}

.moderncart-cart-item-actions-remove svg:hover {
	fill: #1f2937;
}

#moderncart-floating-cart .moderncart-floating-cart-icon svg {
	color: var( --moderncart-floating-icon-color, #fff );
}

#moderncart-floating-cart .moderncart-floating-cart-icon .moderncart-custom-cart-icon {
	width: 36px;
	height: 36px;
	object-fit: contain;
	filter: brightness( 0 ) invert( 1 ); /* Makes the icon white to match SVG icons */
}

#moderncart-floating-cart .moderncart-floating-cart-count {
	align-items: center;
	background-color: var( --moderncart-floating-count-bg-color, var( --moderncart-quantity-background-color, #1f2937 ) );
	border-radius: 100%;
	color: var( --moderncart-floating-count-text-color, var( --moderncart-quantity-font-color, #fff ) );
	-js-display: flex;
	display: flex;
	font-size: 12px;
	font-weight: 700;
	height: 22px;
	justify-content: center;
	left: -3px;
	position: absolute;
	top: -2px;
	min-width: 22px;
	z-index: 20;
	padding: 2px;
}

/* Slideout Cart Style Start Here  */
html.moderncart-trigger-open,
html.moderncart-trigger-open body {
	overflow: hidden !important;
}

#moderncart-slide-out .moderncart-panel {
	height: 100vh;
	background-color: var( --moderncart-background-color );
	justify-content: space-between;
	min-height: -webkit-fill-available;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total .moderncart-cart-line-items-item {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	justify-content: space-between;
	line-height: 24px;
	color: var( --moderncart-body-color );
	padding: 10px 20px;
	border-bottom: 1px solid #e5e7eb;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total .moderncart-cart-line-items-item span {
	font-size: 16px;
	font-weight: 600;
	margin-left: 2px;
}

/* Start: Order Summary Styles - Style 2 */
#moderncart-slide-out.moderncart-style2-order-summary-style .moderncart-slide-out-footer {
	background-color: var( --moderncart-primary-color-light, var( --moderncart-primary-color ) );
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total.moderncart-order-summary-style-style2 h3 {
	padding: 24px 24px 0;
	margin: 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total.moderncart-order-summary-style-style2 .moderncart-order-summary-items {
	-js-display: flex;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px 24px;
	border-bottom: 1px solid #e5e7eb;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total.moderncart-order-summary-style-style2 .moderncart-order-summary-items .moderncart-order-summary-item {
	-js-display: flex;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total.moderncart-order-summary-style-style2 .moderncart-order-summary-items .moderncart-order-summary-item label {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total.moderncart-order-summary-style-style2 .moderncart-order-summary-items .moderncart-order-summary-item span {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	text-align: right;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 .moderncart-have-coupon-code-area,
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 #moderncart-coupon-form-container {
	margin: 0;
	padding: 0;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 #moderncart-coupon-form-container {
	-js-display: flex;
	display: flex;
	flex-direction: column-reverse;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 #moderncart-coupon-form-container.moderncart-hide {
	display: none;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 #moderncart-coupon-form-container .moderncart-coupon-remove {
	justify-content: left;
	gap: 6px;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 #moderncart-coupon-form-container .moderncart-coupon-remove .moderncart-coupons-tag {
	margin-bottom: 0;
	background: #e5e7eb;
	border-radius: 4px;
	padding: 4px 6px;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 #moderncart-coupon-form-container .moderncart-coupon-remove .moderncart-coupons-tag * {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0;
	vertical-align: middle;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 .moderncart-have-coupon-code-area .moderncart-have-coupon-code {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	vertical-align: middle;
	color: var( --moderncart-primary-color );
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 .moderncart-have-coupon-code-area[aria-expanded="true"] {
	display: none;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 #moderncart-coupon-form-container .moderncart-slide-out-coupon-input {
	position: relative;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 #moderncart-coupon-form-container .moderncart-slide-out-coupon-form-button {
	background: none;
	color: var( --moderncart-primary-color, #705aef );
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 12px;
	top: 25%;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-order-summary-style-style2 .moderncart-have-coupon-code-area svg {
	display: none;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total.moderncart-order-summary-style-style2 a.checkout-button {
	-js-display: flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total.moderncart-order-summary-style-style2 a.checkout-button .moderncart-cart-discount {
	font-size: 14px;
}
/* End: Order Summary Styles - Style 2 */

.moderncart-cart-item-container {
	align-items: flex-start;
	-js-display: flex;
	display: flex;
	padding: 20px 10px 20px 0;
	position: relative;
	width: 100%;
}

.moderncart-cart-item-image {
	align-items: center;
	border: 0;
	border-radius: 6px;
	-js-display: flex;
	display: flex;
	justify-content: center;
	margin-right: 18px;
	min-width: 75px;
	outline: 0;
	width: 75px;
}

/* Image size presets */
.moderncart-image-size-small .moderncart-cart-item-image {
	min-width: 60px;
	width: 60px;
}

.moderncart-image-size-medium .moderncart-cart-item-image {
	min-width: 75px;
	width: 75px;
}

.moderncart-image-size-large .moderncart-cart-item-image {
	min-width: 90px;
	width: 90px;
}

.moderncart-cart-item-product,
.moderncart-cart-item-product-name {
	-js-display: flex;
	display: flex;
	flex-direction: column;
}

.moderncart-cart-item-product {
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}

.moderncart-cart-item-image img {
	height: 100%;
	max-width: 100%;
	-o-object-fit: contain;
	border-radius: 5px;
	object-fit: contain;
	object-position: center center;
	background-color: #fff;
}

.moderncart-cart-recommended-item-actions {
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100%;
}

#moderncart-slide-out .moderncart-cart-item-quantity-selector {
	margin-top: 6px;
}

.moderncart-cart-item-product-name {
	font-size: 14px;
	font-weight: 600;
	justify-content: space-between;
	letter-spacing: 0.5px;
	line-height: 1.6;
	margin: 0;
}
.moderncart-cart-item-image,
.moderncart-cart-item-image a {
	outline: 0;
	display: inline-block;
	position: relative;
}

.moderncart-cart-item-image .moderncart-cart-item-onsale {
	background-color: var( --moderncart-primary-color );
	color: var( --moderncart-button-font-color );
	padding: 0 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 12px;
}

.moderncart-cart-item-product-link {
	color: var( --moderncart-heading-color, #1f2937 );
	line-height: 18px;
	max-width: 270px;
	overflow: hidden;
}

.moderncart-cart-item-product-link a {
	color: var( --moderncart-heading-color, #1f2937 );
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	max-width: 270px;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.moderncart-slide-out-recommendations .moderncart-cart-item-product-link a {
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.moderncart-slide-out-recommendations .moderncart-cart-item-product-price {
	color: var( --moderncart-body-color );
	font-size: 12px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.moderncart-slide-out-recommendations .moderncart-cart-item-product-price del {
	opacity: 0.7;
}

.moderncart-cart-item-product .moderncart-collapse-btn-link {
	color: var( --moderncart-primary-color, #3b3b3b );
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 2px;
	position: relative;
	transition: all 0.15s ease 0s;
}

.moderncart-cart-item-product .moderncart-collapse-btn-link:hover {
	opacity: 0.8;
}

.moderncart-cart-item-product-data {
	display: none;
	border-top: 2px solid var( --moderncart-primary-color, #705aef );
	box-shadow: 0 1px 3px 0 rgb( 0 0 0 / 10% );
	font-size: 14px;
	max-height: 300px;
	max-width: 230px;
	overflow: auto;
	padding: 10px 13px;
}

#moderncart-slide-out .moderncart-cart-item-quantity {
	align-items: flex-start;
	border: none;
	-js-display: flex;
	display: flex;
}

#moderncart-slide-out .moderncart-cart-item-quantity button {
	appearance: none;
	background-color: #fff;
	border: none;
	border-radius: 0;
	color: #222;
	cursor: pointer;
	display: block;
	height: 30px;
	margin: 0;
	min-width: 30px;
	outline: none;
	padding: 0;
	position: relative;
	text-align: center;
	text-indent: -9999em;
	width: 30px;
}

#moderncart-slide-out .moderncart-cart-item-quantity button:hover {
	background-color: #f0f9ff;
}

#moderncart-slide-out .moderncart-cart-item-quantity button svg {
	display: block;
	font-size: 8px;
	height: 10px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	width: 10px;
}

.moderncart-cart-theme-style1 .moderncart-cart-item-quantity .quantity__button--down,
.moderncart-cart-theme-style4 .moderncart-cart-item-quantity .quantity__button--down {
	order: 3;
}

.moderncart-cart-theme-style1 .moderncart-cart-item-quantity .moderncart-quantity__input,
.moderncart-cart-theme-style4 .moderncart-cart-item-quantity .moderncart-quantity__input {
	order: 2;
	color: var( --moderncart-body-color );
}

.moderncart-cart-theme-style1 .moderncart-cart-item-quantity .quantity__button--up,
.moderncart-cart-theme-style4 .moderncart-cart-item-quantity .quantity__button--up {
	order: 1;
}

#moderncart-slide-out .moderncart-cart-item-quantity button.quantity__button--disabled {
	pointer-events: none;
	opacity: 0.2;
}

.moderncart-cart-item-actions-remove {
	float: right;
	align-items: center;
	appearance: none !important;
	background-color: transparent !important;
	border: 0 !important;
	cursor: pointer;
	-js-display: flex;
	display: flex;
	justify-content: center;
	margin: 0;
	min-height: 42px;
	min-width: auto;
	outline: 0 !important;
	padding: 0 !important;
	transition: transform 0.2s ease-in;
}

#moderncart-slide-out .moderncart-cart-item-quantity input[type="number"] {
	appearance: none;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 0 !important;
	box-shadow: none;
	box-sizing: border-box;
	color: #333;
	font-size: 14px;
	font-weight: 600;
	height: 30px;
	max-height: 30px;
	max-width: 35px;
	min-width: 35px;
	min-height: 30px;
	outline: 0;
	padding: 0;
	text-align: center;
	transition: all var( --moderncart-animation-duration, 0.32s ) ease;
}

#moderncart-slide-out .moderncart-cart-item-quantity input[type="number"]:focus {
	outline: 0;
}

.moderncart-modal-backdrop[role="dialog"] {
	background-color: rgba( 33, 42, 47, 0.89 );
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147482547;
}

#moderncart-assistant-modal,
#moderncart-bar-modal,
#moderncart-slide-out-modal,
#moderncart-popup-modal {
	bottom: 0;
	display: none;
	left: 0;
	outline: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147482647;
}

.moderncart-modal.moderncart-show #moderncart-slide-out.moderncart-animation-simple {
	transform: translate( 0 );
}

/* Popup specific animation state */
.moderncart-modal.moderncart-show.moderncart-cart-style-popup #moderncart-slide-out.moderncart-animation-simple {
	opacity: 1;
	visibility: visible;
	transition: opacity var( --moderncart-animation-duration, 0.32s ) ease-out, visibility 0s linear 0s;
}

body.admin-bar #moderncart-slide-out {
	height: calc( 100vh - 32px );
	overflow: auto;
	top: 32px;
}

body.admin-bar #moderncart-slide-out-modal.moderncart-cart-style-popup #moderncart-slide-out {
	height: calc( 100vh - 32px );
	/* overflow: auto; */
	top: 7%;
}

.moderncart-cart-style-slideout #moderncart-slide-out.moderncart-animation-simple {
	transform: translate( 100% ) scale( 1 );
	transition: transform var( --moderncart-animation-duration, 0.32s ) ease-out;
}

.moderncart-cart-style-popup #moderncart-slide-out.moderncart-animation-simple {
	opacity: 0;
	visibility: hidden;
	transition: opacity var( --moderncart-animation-duration, 0.32s ) ease-out, visibility 0s linear var( --moderncart-animation-duration, 0.32s );
}

#moderncart-slide-out-modal.moderncart-cart-style-slideout #moderncart-slide-out {
	background-color: #fff;
	-js-display: flex;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	max-height: 100vh;
	max-width: var( --moderncart-slide-out-desktop-width, 450px );
	outline: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11000;
}

#moderncart-slide-out-modal.moderncart-cart-style-slideout.moderncart-slide-right #moderncart-slide-out {
	right: 0;
}

#moderncart-slide-out-modal.moderncart-cart-style-slideout.moderncart-slide-left #moderncart-slide-out {
	left: 0;
	right: auto;
}

/* Reverse the animation for the left positioned slide out */
#moderncart-slide-out-modal.moderncart-cart-style-slideout.moderncart-slide-left #moderncart-slide-out.moderncart-animation-simple {
	transform: translate( -100% ) scale( 1 );
	transition: transform var( --moderncart-animation-duration, 0.32s ) ease-out;
}

/* Reverse the animation for the left positioned slide out */
#moderncart-slide-out-modal.moderncart-cart-style-slideout.moderncart-slide-left.moderncart-modal.moderncart-show #moderncart-slide-out.moderncart-animation-simple {
	transform: translate( 0 );
}

/* Reverse the header-style1 buttons for the left positioned slide out */
#moderncart-slide-out-modal.moderncart-cart-style-slideout.moderncart-slide-left #moderncart-slide-out .moderncart-slide-out-header .moderncart-cart-header-style1 {
	flex-flow: row-reverse;
}

#moderncart-slide-out-modal.moderncart-cart-style-popup #moderncart-slide-out {
	background-color: #fff;
	-js-display: flex;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	max-height: 86vh;
	max-width: var( --moderncart-popup-desktop-width, 40% );
	outline: 0;
	overflow: hidden;
	position: fixed;
	left: var( --moderncart-popup-desktop-margin-left, 25% );
	top: 10%;
	width: 100%;
	z-index: 11000;
	border-radius: 6px;
}

#moderncart-floating-cart.moderncart-floating-cart-empty {
	display: none;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-have-coupon-code-area {
	padding: 0 20px;
}

#moderncart-slide-out .moderncart-slide-out-header {
	border-bottom: solid 1px #e5e7eb;
}

#moderncart-slide-out .moderncart-slide-out-recommendations {
	border-top: solid 1px #e5e7eb;
	padding-top: 20px;
}

#moderncart-slide-out .moderncart-slide-out-header,
#moderncart-slide-out .moderncart-panel {
	-js-display: flex;
	display: flex;
	flex-direction: column;
}

#moderncart-slide-out .moderncart-slide-out-cart {
	-ms-overflow-style: none;
	height: 100%;
	overflow: auto;
	position: relative;
	scrollbar-width: none;
	-js-display: flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#moderncart-slide-out .moderncart-slide-out-header-heading {
	align-items: center;
	-js-display: flex;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
	padding: 20px;
	background-color: var( --moderncart-header-background-color, #fff );
}

#moderncart-slide-out .moderncart-slide-out-header-title {
	text-align: var( --moderncart-cart-header-text-alignment, "center" );
	width: 100%;
}

#moderncart-slide-out .moderncart-slide-out-header-title span {
	color: var( --moderncart-header-font-color, #1f2937 );
	font-size: var( --moderncart-cart-header-font-size, "22px" );
	font-weight: 600;
	margin: 0;
	line-height: 28px;
}

#moderncart-slide-out .moderncart-slide-out-header-close {
	align-items: center;
	appearance: none !important;
	background-color: transparent !important;
	border: 0 !important;
	color: var( --moderncart-header-font-color, #1f2937 );
	cursor: pointer;
	-js-display: flex;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0 important;
	max-height: 26px;
	max-width: 26px;
	outline: 0 !important;
	padding: 0 !important;
	width: 100%;
}

#moderncart-slide-out .moderncart-slide-out-header-close svg {
	stroke: currentColor;
	height: 26px;
	pointer-events: none;
	width: 26px;
	color: var( --moderncart-header-font-color, #1f2937 );
}

.moderncart-cart-header-style1.moderncart-slide-out-header-heading {
	padding: 20px;
}

.moderncart-cart-header-style1 .moderncart-slide-out-header-close svg {
	width: 24px;
	fill: var( --moderncart-header-font-color, #1f2937 );
}

#moderncart-slide-out-modal #moderncart-slide-out .moderncart-slide-out-header-quantity {
	background-color: var( --moderncart-quantity-background-color, #1f2937 );
	color: var( --moderncart-quantity-font-color, #fff );
	padding: 0 8px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
}

#moderncart-slide-out .moderncart-slide-out-footer {
	padding-bottom: 10px;
	box-shadow: 0 4px 18px rgb( 0 0 0 / 25% );
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total {
	align-items: stretch;
	border-color: #e5e7eb;
	border-top: 1px solid;
	border-top-color: #e5e7eb;
	color: #1f2937;
	-js-display: flex;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	justify-content: center;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total .wc-proceed-to-checkout {
	margin-bottom: 0 !important;
	padding: 16px 20px 6px 20px;
	overflow: hidden;
	border-radius: 6px;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total a.checkout-button {
	background-color: var( --moderncart-primary-color, #705aef );
	border: 0;
	border-radius: 6px;
	color: var( --moderncart-button-font-color, #fff );
	display: block;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0 !important;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-out;
	line-height: 24px;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total a.checkout-button:hover,
.moderncart-slide-out-recommendations .moderncart-cart-item-actions .moderncart-btn-upsell:hover,
#moderncart-slide-out .moderncart-slide-out-coupon-input button:hover {
	opacity: 0.9;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total .moderncart-cart-line-items-label {
	justify-content: flex-start;
	width: 50%;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total .moderncart-cart-line-items-value {
	-js-display: inline-flex;
	display: inline-flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total .moderncart-cart-line-items-value .moderncart-cart-discount {
	color: var( --moderncart-body-color );
	opacity: 0.7;
	font-size: 16px;
	-webkit-text-decoration-color: var( --moderncart-body-color );
	text-decoration-color: var( --moderncart-body-color );
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-cart-total .moderncart-cart-line-items-value .moderncart-cart-discount span {
	font-size: 16px;
	font-weight: 600;
	margin: 0 2px 0 2px;
}

.moderncart-cart-line-items__total-value .includes_tax {
	white-space: nowrap;
}

.moderncart-slide-out-notices-wrapper,
.moderncart-slide-out-free-shipping-bar-wrapper {
	border: none;
	border-radius: 0;
	clear: both;
	cursor: pointer;
	display: none;
	font-size: 15px;
	height: 100%;
	left: 0;
	margin-bottom: 0;
	margin-left: 0;
	max-height: 62px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	width: 100%;
	z-index: 999999;
}

#moderncart-slide-out .moderncart-slide-out-free-shipping-bar-wrapper {
	position: relative;
	display: block;
	z-index: 99999;
	width: 100%;
}

.moderncart-notification {
	background-color: #f5f5f5;
	border-radius: 0;
	padding: 10px 16px;
	position: relative;
	text-align: center;
}

.moderncart-notification.moderncart-has-shadow {
	box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, 0.1 );
}

.moderncart-notification a:not( .moderncart-utton ) {
	color: currentColor;
	text-decoration: underline;
}

.moderncart-notification strong {
	color: currentColor;
}

.moderncart-notification.moderncart-is-light {
	background-color: #f5f5f5;
	color: rgba( 0, 0, 0, 0.7 );
}

.moderncart-notification.moderncart-is-success.moderncart-is-light {
	background-color: #e7f7f0;
	color: #1b6f49;
}

.moderncart-notification.moderncart-is-error.moderncart-is-light {
	background-color: #feecf0;
	color: #cc0f35;
}

#moderncart-slide-out .moderncart-slide-out-free-shipping-bar-wrapper .moderncart-notification {
	height: auto;
	line-height: 18px;
	padding: 15px 16px;
}

.moderncart-cart-item-loading {
	align-items: center;
	backdrop-filter: blur( 3px );
	-js-display: flex;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.moderncart-cart-item-spinner {
	animation: rotation 0.8s linear infinite;
	border: 5px solid #f1f1f1;
	border-radius: 100%;
	border-top-color: var( --moderncart-primary-color, #705aef );
	height: 38px;
	margin: 0 auto;
	width: 38px;
}

@keyframes rotation {
	0% {
		transform: rotate( 0deg );
	}

	to {
		transform: rotate( 359deg );
	}
}

/* Coupon Start Here */
#moderncart-slide-out .moderncart-slide-out-coupon {
	margin-bottom: 0;
	padding: 5px 20px 0 20px;
	text-align: center;
	opacity: 1;
	max-height: 120px;
	visibility: visible;
	transition: opacity 0.3s ease, max-height 0.3s ease, visibility 0.3s ease;
}

#moderncart-slide-out .moderncart-slide-out-coupon.moderncart-hide {
	display: block;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
	transition: opacity 0.3s ease, max-height 0.3s ease, visibility 0.3s ease;
}

#moderncart-slide-out .moderncart-slide-out-coupon-input {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	justify-content: space-between;
	gap: 8px;
	height: 40px;
}

#moderncart-slide-out .moderncart-slide-out-coupon-input button {
	align-items: center;
	background-color: var( --moderncart-primary-color, #705aef );
	border: 1px solid var( --moderncart-primary-color, #705aef );
	color: var( --moderncart-button-font-color, #fff );
	cursor: pointer;
	border-radius: 6px;
	-js-display: flex;
	display: flex;
	font-size: 14px;
	font-weight: 600;
	justify-content: center;
	text-align: center;
	padding: 12px 24px;
	position: relative;
	margin: 0;
}

#moderncart-slide-out .moderncart-slide-out-coupon-input input {
	appearance: none;
	background-color: #fff;
	border: 1px solid #eaeaec;
	border-radius: 6px;
	box-shadow: none;
	color: var( --moderncart-body-color );
	font-size: 14px;
	outline: 0;
	padding: 12px;
	width: 100%;
}

#moderncart-slide-out .moderncart-slide-out-coupon-input input:focus {
	border-color: var( --moderncart-primary-color, #705aef ) !important;
}

#moderncart-slide-out .cmoderncart-slide-out-coupon form {
	margin-bottom: 0;
}

#moderncart-slide-out .moderncart-slide-out-coupon .moderncart-coupon-remove {
	align-items: center;
	-js-display: inline-flex;
	display: inline-flex;
	justify-content: center;
}

/* Start: If the error is for invalid coupon. */
.moderncart-invalid-coupon-code-error .moderncart-notification.moderncart-is-error {
	padding: 8px 0 0 0;
	background: none;
	box-shadow: none;
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.moderncart-invalid-coupon-code-error .moderncart-slide-out-coupon-input input#moderncart-coupon-input {
	border-color: #cc0f35 !important;
}
/* End: If the error is for invalid coupon. */

#moderncart-slide-out .moderncart-slide-out-coupon .moderncart-coupons-tag {
	align-items: center;
	-js-display: flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 12px;
}

#moderncart-slide-out .moderncart-slide-out-coupon .moderncart-coupons-tag .moderncart-coupon-remove-item {
	align-items: center;
	border-radius: 4px;
	-js-display: inline-flex;
	display: inline-flex;
	font-size: 12px;
	height: 2em;
	justify-content: center;
	line-height: 1.5;
	margin: 0.5rem 0;
	padding-left: 0.75em;
	padding-right: 0.75em;
	white-space: nowrap;
}

#moderncart-slide-out .moderncart-slide-out-coupon .moderncart-coupons-tag .moderncart-coupon-remove-item-delete {
	background: transparent;
	color: #1f2937;
	padding: 0;
	position: relative;
	width: 2em;
	cursor: pointer;
	border: none;
}

#moderncart-slide-out .moderncart-slide-out-coupon .moderncart-coupons-tag .moderncart-coupon-remove-item-delete::after,
#moderncart-slide-out .moderncart-slide-out-coupon .moderncart-coupons-tag .moderncart-coupon-remove-item-delete::before {
	background-color: currentColor;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX( -50% ) translateY( -50% ) rotate( 45deg );
	transform-origin: center center;
}

#moderncart-slide-out .moderncart-slide-out-coupon .moderncart-coupons-tag .moderncart-coupon-remove-item-delete::before {
	height: 1px;
	width: 50%;
}

#moderncart-slide-out .moderncart-slide-out-coupon .moderncart-coupons-tag .moderncart-coupon-remove-item-delete::after {
	height: 50%;
	width: 1px;
}

.moderncart-sr-only:not( :focus ):not( :active ) {
	clip: rect( 0 0 0 0 );
	clip-path: inset( 50% );
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Enhanced keyboard focus styles for better accessibility */
.moderncart-cart-item-actions-remove:focus-visible,
.moderncart-cart-item-image > a:focus-visible,
.moderncart-cart-item-recommended-image > a:focus-visible,
.moderncart-slide-out-coupon-form-button:focus-visible,
.moderncart-have-coupon-toggle-btn:focus-visible,
.moderncart-cart-item-quantity button:focus-visible,
.moderncart-slide-out-header-close:focus-visible,
.moderncart-floating-cart-button:focus-visible,
.moderncart-btn-upsell:focus-visible,
.moderncart-coupon-remove-item-delete:focus-visible,
.checkout-button:focus-visible {
	outline: 2px solid #4d90fe;
	outline-offset: 2px;
	box-shadow: 0 0 0 2px rgba( 77, 144, 254, 0.5 );
}

/* Focus styles for input fields */
#moderncart-slide-out input[type="text"]:focus-visible,
#moderncart-slide-out input[type="number"]:focus-visible {
	border-color: var( --moderncart-primary-color );
	outline: none;
}

/* Recommendations products list start Here */
.moderncart-slide-out-recommendations {
	margin-bottom: 10px;
	padding: 0 20px 0;
}

.moderncart-slide-out-recommendations-header {
	color: var( --moderncart-body-color );
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 15px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
}

.moderncart-slider,
.moderncart-slider-slide {
	outline: none;
	position: relative;
}

.moderncart-slider-track {
	overflow: hidden;
	position: relative;
	z-index: 0;
}

.moderncart-slider-list {
	margin: 0 !important;
	padding: 0 !important;
	width: -moz-max-content;
	width: 100%;
	will-change: transform;
}

.moderncart-cart-item {
	box-sizing: border-box;
	-js-display: flex;
	display: flex;
	height: auto;
	justify-content: space-between;
	position: relative;
	padding: 0 20px;
}

.moderncart-slide-out-cart .moderncart-cart-item:not( :last-child ) {
	border-bottom: solid 1px #e5e7eb;
}

.moderncart-slide-out-recommendations .moderncart-cart-item {
	align-items: center;
	border-bottom: 0;
	padding-bottom: 19px;
}

.moderncart-slider-slide {
	box-sizing: border-box;
	flex-shrink: 0;
	list-style-type: none !important;
	margin: 0;
}

.moderncart-slide-out-recommendations .moderncart-cart-item-container {
	align-items: center;
	max-width: 69%;
	padding: 0 0 5px;
	width: 69%;
}

.moderncart-slide-out-recommendations .moderncart-cart-item-actions {
	align-items: end;
	justify-content: center;
}

.moderncart-slider.is-active .moderncart-slider-list {
	-js-display: flex;
	display: flex;
}

.moderncart-slide-out-recommendations .moderncart-cart-recommended-item-actions .moderncart-btn-upsell {
	align-items: center;
	background-color: var( --moderncart-primary-color, #705aef );
	border: 1px solid var( --moderncart-primary-color, #705aef );
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	color: var( --moderncart-button-font-color, #fff );
	cursor: pointer;
	-js-display: flex;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-weight: 600;
	justify-content: center;
	line-height: 14px;
	height: 30px;
	box-sizing: border-box;
	min-width: 35px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	transition: transform 0.4s ease;
	width: auto;
	position: relative;
}

.moderncart-slide-out-recommendations .moderncart-cart-recommended-item-actions .moderncart-btn-upsell svg {
	width: 14px;
}

.moderncart-slide-out-recommendations .moderncart-cart-recommended-item-actions .moderncart-btn-upsell svg path {
	fill: var( --moderncart-primary-color, #fff );
}

#moderncart-slide-out .moderncart-slide-out-footer #cpsw-payment-request-separator {
	display: block;
	text-align: center;
	padding: 5px 0;
}

#moderncart-slide-out .moderncart-slide-out-footer .cpsw-payment-request-custom-button-render {
	border: 0;
	border-radius: 6px !important;
	display: block;
	font-size: 16px;
	line-height: 1.8em;
	margin-bottom: 0 !important;
	padding: 12px 14px 14px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-out;
	width: 100%;
	text-transform: inherit;
}

#moderncart-slide-out .moderncart-slide-out-footer #cpsw-payment-request-wrapper,
#moderncart-slide-out .moderncart-slide-out-footer .cpsw-payment-request-button-wrapper,
#moderncart-slide-out .moderncart-slide-out-footer .cpsw-payment-request-custom-button-render {
	width: 100% !important;
	max-height: initial !important;
}

#moderncart-slide-out .moderncart-slide-out-footer .cpsw-payment-request-button-wrapper {
	padding-top: 0 !important;
}

#moderncart-slide-out .moderncart-slide-out-footer #cpsw-payment-request-wrapper.cpsw-payment-request-is-visible {
	display: inline-block !important;
}

#moderncart-slide-out input::-webkit-outer-spin-button,
#moderncart-slide-out input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#moderncart-slide-out input[type="number"] {
	-moz-appearance: textfield;
}

.moderncart-slide-out-recommendations .moderncart-cart-item-actions .moderncart-btn-upsell.is-moderncart-loading::after,
.moderncart-slide-out-recommendations .moderncart-cart-item-actions .moderncart-btn-upsell.moderncart-loading::after,
form.cart .single_add_to_cart_button.moderncart-loading::after {
	border-color: #fff;
	border-right-color: transparent;
	border-top-color: transparent;
}

.moderncart-button.is-moderncart-loading::after,
.moderncart-button.moderncart-loading::after,
form.cart .single_add_to_cart_button.moderncart-loading::after {
	animation: moderncartSpinAround 0.5s linear infinite;
	border-color: transparent transparent #fff #fff;
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
	border-radius: 290486px;
	border-right: 3px solid transparent;
	border-top: 3px solid transparent;
	content: "";
	display: block;
	height: 1.3em;
	left: calc( 50% - 0.65em );
	position: absolute;
	top: calc( 41% - 0.5em );
	width: 1.3em;
}

.moderncart-slide-out-coupon-form-button.moderncart-loading,
.moderncart-btn-upsell.moderncart_add_to_cart_button.moderncart-loading,
form.cart .single_add_to_cart_button.moderncart-loading {
	color: transparent !important;
}

.moderncart-slide-out-coupon-form-button,
.moderncart-btn-upsell.moderncart_add_to_cart_button,
form.cart .single_add_to_cart_button {
	text-transform: capitalize;
}

.moderncart-powered-by {
	color: #3b3b3b;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
	opacity: 0.65;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-powered-by {
	padding: 4px 0 2px;
	text-align: center;
}

.moderncart-powered-by:hover {
	opacity: 1;
}

.moderncart-powered-by a {
	color: var( --moderncart-primary-color, #705aef );
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}

.moderncart-slide-out-cart .moderncart-empty-cart {
	align-items: center;
	-js-display: flex;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 20px;
	text-align: center;
	width: 100%;
}

.moderncart-slide-out-cart .moderncart-empty-cart span {
	color: var( --moderncart-heading-color );
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.moderncart-slide-out-cart .moderncart-empty-cart p {
	color: var( --moderncart-heading-color );
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
}

.moderncart-slide-out-footer #cpsw-payment-request-separator {
	display: none !important;
}

.moderncart-payment-request-separator,
#moderncart-slide-out .moderncart-hide {
	display: none;
}

#moderncart-slide-out .moderncart-have-coupon-code-area {
	text-align: left;
	margin: 10px 0 10px 0;
	padding: 0;
	color: #1f2937;
	cursor: pointer;
}

#moderncart-slide-out .moderncart-have-coupon-code {
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: var( --moderncart-body-color );
}

#moderncart-slide-out .moderncart-show-more-products {
	cursor: pointer;
	text-align: left;
	font-size: 14px;
}

#moderncart-slide-out .moderncart-show-more-products-area {
	margin: 0 0 8px 0;
	padding: 0;
	cursor: pointer;
}

#moderncart-slide-out .moderncart-show-more-products-area svg,
#moderncart-slide-out .moderncart-have-coupon-code-area svg {
	color: var( --moderncart-heading-color );
	float: right;
}

#moderncart-slide-out .moderncart-slide-out-footer .moderncart-payment-request-separator {
	display: block !important;
	text-align: center;
	padding: 5px 0;
}

#moderncart-slide-out .moderncart-splide .splide__arrow,
#moderncart-slide-out .moderncart-splide .splide__pagination .splide__pagination__page {
	padding: 0; /* Remove padding from arrows and pagination */
}

.moderncart-splide button.splide__pagination__page {
	min-height: 8px;
}

.moderncart-splide button.splide__pagination__page:hover {
	background: #d3d3d3;
}

.moderncart-splide button.splide__arrow {
	-js-display: flex;
	display: flex;
}

.moderncart-checkout-form-edit-link {
	position: absolute;
	right: 0;
	cursor: pointer;
	font-size: 14px !important;
	font-weight: 400 !important;
}

form.woocommerce-checkout {
	position: relative;
}

.moderncart-cart-item-actions .moderncart-price {
	text-align: right;
}

.moderncart-cart-item-actions .moderncart-price small,
.moderncart-cart-item-actions--pricing .moderncart-price small {
	display: block;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}

.moderncart-progress-bar.progress-bar {
	display: block;
	width: 100%;
	justify-content: flex-start;
	margin: 0;
	margin-top: -16px;
	height: 16px;
	text-align: left;
}

.moderncart-slide-out-free-shipping-bar-wrapper .moderncart-notification.moderncart-is-success.moderncart-is-light {
	background-color: #f0f9ff;
	color: #333;
}

.moderncart-slide-out-free-shipping-bar-wrapper .amount {
	color: var( --moderncart-primary-color, #705aef );
}

.moderncart-progress-bar .moderncart-free-shipping-progress-bar {
	display: inline-block;
	box-shadow: 0 1px 0 rgb( 255 255 255 / 50% ) inset;
	transition: width 0.4s ease-in-out;
	height: 3px;
	background-color: var( --moderncart-primary-color, #705aef );
	background-size: 30px 30px;
	background-image: linear-gradient( 135deg, rgba( 255, 255, 255, 0.15 ) 25%, transparent 25%, transparent 50%, rgba( 255, 255, 255, 0.15 ) 50%, rgba( 255, 255, 255, 0.15 ) 75%, transparent 75%, transparent );
	animation: moderncart-animate-stripes 3s linear infinite;
	position: relative;
}
.moderncart-progress-bar .moderncart-free-shipping-progress-bar::after {
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	border-radius: 3px;
	animation: moderncart-animate-shine 2s ease-out infinite;
}

.moderncart-button.is-moderncart-loading svg,
.moderncart-button.moderncart-loading svg,
.moderncart-slide-out-footer #cpsw-payment-request-title,
.moderncart-slide-out-footer #cpsw-payment-request-tagline,
#cpsw-payment-request-wrapper.checkout .moderncart-payment-request-separator {
	display: none !important;
}

.moderncart-plugin .moderncart-price span.woocommerce-Price-amount {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: var( --moderncart-body-color );
}

.moderncart-cart-theme-style1 .moderncart-price,
.moderncart-cart-theme-style4 .moderncart-price {
	display: grid;
	margin-top: 5px;
}

.moderncart-cart-theme-style2 .moderncart-price,
.moderncart-cart-theme-style3 .moderncart-price,
.moderncart-cart-theme-style5 .moderncart-price,
.moderncart-cart-theme-style6 .moderncart-price {
	display: grid;
	width: 100%;
}

#moderncart-slide-out-modal.moderncart-cart-theme-style1 .moderncart-cart-item-quantity,
#moderncart-slide-out-modal.moderncart-cart-theme-style4 .moderncart-cart-item-quantity {
	display: grid;
	border-radius: 3px;
	border: solid 1px #e5e7eb;
}

#moderncart-slide-out-modal.moderncart-cart-theme-style2 .moderncart-cart-item-quantity,
#moderncart-slide-out-modal.moderncart-cart-theme-style3 .moderncart-cart-item-quantity,
#moderncart-slide-out-modal.moderncart-cart-theme-style5 .moderncart-cart-item-quantity,
#moderncart-slide-out-modal.moderncart-cart-theme-style6 .moderncart-cart-item-quantity {
	border-radius: 3px;
	border: solid 1px #e5e7eb;
	overflow: hidden;
}

#moderncart-slide-out-modal.moderncart-cart-theme-style1 .quantity__button--down,
#moderncart-slide-out-modal.moderncart-cart-theme-style1 .quantity__button--up,
#moderncart-slide-out-modal.moderncart-cart-theme-style4 .quantity__button--down,
#moderncart-slide-out-modal.moderncart-cart-theme-style4 .quantity__button--up {
	width: 30px;
	height: 25px;
	background-color: transparent;
}

#moderncart-slide-out-modal.moderncart-cart-theme-style1 input[type="number"],
#moderncart-slide-out-modal.moderncart-cart-theme-style4 input[type="number"] {
	width: 30px;
	min-width: 30px;
	padding: 0 5px;
	border-top: 1px solid #e5e7eb;
	border-bottom: 1px solid #e5e7eb;
}

.moderncart-cart-item-actions--pricing .moderncart-price span.woocommerce-Price-amount {
	order: 2;
}

.moderncart-cart-item-actions--pricing .moderncart-price small {
	color: var( --moderncart-highlight-color, #10b981 );
}

.moderncart-cart-theme-style1 .moderncart-cart-item-actions-remove {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	min-height: 25px;
	text-decoration: underline;
	color: var( --moderncart-heading-color );
}

.moderncart-cart-theme-style3 .moderncart-cart-item-actions-remove svg,
.moderncart-cart-theme-style6 .moderncart-cart-item-actions-remove svg {
	width: 16px;
	height: 16px;
}

.moderncart-cart-theme-style4 .moderncart-cart-item-actions-remove,
.moderncart-cart-theme-style5 .moderncart-cart-item-actions-remove {
	position: absolute;
	left: -5px;
	top: -5px;
	border: 1px solid #9c9b9b !important;
	border-radius: 50%;
	background-color: #fff !important;
	width: 15px !important;
	height: 15px !important;
	min-height: auto;
}

#moderncart-slide-out-modal.moderncart-cart-theme-style1 .moderncart-cart-item-quantity-selector,
#moderncart-slide-out-modal.moderncart-cart-theme-style4 .moderncart-cart-item-quantity-selector {
	margin-top: 20px;
}

.moderncart-cart-theme-style5 .moderncart-cart-item .moderncart-cart-item-product-link,
.moderncart-cart-theme-style5 .moderncart-cart-item .moderncart-cart-item-product-link a {
	max-width: none;
}

.moderncart-cart-theme-style5 .moderncart-cart-item .moderncart-cart-item-actions {
	-js-display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.moderncart-cart-theme-style5 .moderncart-cart-item-actions .moderncart-price {
	text-align: left;
}

.moderncart-cart-item-recommended-image {
	padding-top: 5px;
}

.moderncart-cart-item-recommended-image img {
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 5px;
	aspect-ratio: 1/1;
}

#moderncart-slide-out-modal .splide__pagination__page {
	width: 20px;
	height: 2px;
	border-radius: 0;
	min-height: 2px !important;
	margin-right: 5px;
}

#moderncart-slide-out-modal .splide__pagination__page.is-active {
	transform: none;
	background-color: var( --moderncart-primary-color, #705aef );
}

#moderncart-slide-out-modal .splide__slide {
	padding: 0 10px;
}

#moderncart-slide-out-modal .splide__list {
	transform-style: flat;
}

.moderncart-cart-theme-style2 .moderncart-cart-item-actions,
.moderncart-cart-theme-style3 .moderncart-cart-item-actions {
	width: 150px;
}

#moderncart-slide-out-modal.moderncart-cart-theme-style2 .moderncart-cart-item__details,
#moderncart-slide-out-modal.moderncart-cart-theme-style3 .moderncart-cart-item__details {
	min-height: 36px;
}

.moderncart-cart-theme-style3 .moderncart-cart-item-actions,
.moderncart-cart-theme-style6 .moderncart-cart-item-actions {
	-js-display: flex;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	padding: 20px 0;
}

.moderncart-cart-theme-style6 .moderncart-cart-item-actions .moderncart-cart-item-actions-remove {
	min-height: auto;
}

#moderncart-slide-out-modal .splide__pagination {
	bottom: 0;
}

.moderncart-slide-out-footer .wc-forward::after,
.moderncart-slide-out-footer .woocommerce-Button--next::after {
	display: none;
}

#moderncart-slide-out .moderncart-slide-out-cart-data {
	height: auto;
}

#moderncart-slide-out .moderncart-slide-out-cart-empty {
	height: 100%;
}

#moderncart-slide-out .moderncart-empty-cart p {
	margin: 0;
}

#moderncart-slide-out-modal .splide__arrow--prev,
#moderncart-slide-out-modal .splide__arrow--next {
	background-color: #f0f9ff;
	top: 35%;
}

#moderncart-slide-out-modal .splide__arrow--prev svg,
#moderncart-slide-out-modal .splide__arrow--next svg {
	scale: 1.5;
}

/* Start: Empty cart recommendation styles */
.moderncart-slide-out-empty-cart-recommendations {
	padding: 10px 80px;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-slide-out-empty-cart-recommendations-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-empty-cart-recommendation-slider {
	padding-top: 36px;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-cart-item-recommended-image {
	text-align: center;
	padding: 0;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-cart-item-recommended-image img {
	height: auto;
	width: 300px;
	object-fit: cover;
	margin-bottom: 10px;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-cart-item-product-link a {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	display: block;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-cart-item-product-description {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-cart-item-product-price {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	vertical-align: middle;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-cart-item-product-price del {
	opacity: 0.7;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-cart-recommended-item-actions {
	margin-top: 15px;
	margin-bottom: 30px;
	width: 100%;
}
.moderncart-slide-out-empty-cart-recommendations .moderncart-btn-upsell.moderncart-button {
	display: block;
	text-align: center;
	border: 0;
	border-radius: 4px;
	padding: 12px 0;
	background-color: var( --moderncart-primary-color, #705aef );
	color: var( --moderncart-button-font-color, #fff );
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	position: relative;
}
#moderncart-slide-out-modal .moderncart-empty-cart-recommendation-slider .splide__arrow {
	top: 40%;
}

#moderncart-slide-out-modal.moderncart-cart-style-popup .moderncart-slide-out-empty-cart-recommendations .moderncart-empty-cart-recommendation-slider {
	padding-right: 100px;
	padding-left: 100px;
}
/* End: Empty cart recommendation styles */

#live-region {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect( 0, 0, 0, 0 );
}

@keyframes moderncart-animate-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 60px 0;
	}
}

@keyframes moderncart-animate-shine {
	0% {
		opacity: 0;
		width: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		width: 100%;
	}
}

@keyframes moderncartSpinAround {
	0% {
		transform: rotate( 0deg );
	}

	to {
		transform: rotate( 359deg );
	}
}

@media only screen and ( max-width: 768px ) {
	#moderncart-slide-out-modal.moderncart-cart-style-slideout #moderncart-slide-out {
		max-width: var( --moderncart-slide-out-mobile-width, 80% );
	}

	#moderncart-slide-out-modal.moderncart-cart-style-popup #moderncart-slide-out {
		max-width: var( --moderncart-popup-mobile-width, 90% );
		left: var( --moderncart-popup-mobile-margin-left, 10% );
		max-height: 95vh;
	}
	.moderncart-slide-out-cart .moderncart-cart-item-product-link a {
		white-space: initial;
	}

	body.admin-bar #moderncart-slide-out-modal.moderncart-cart-style-popup #moderncart-slide-out {
		height: ( 100vh - 32px );
		overflow: auto;
		top: 3%;
	}

	#moderncart-floating-cart {
		bottom: 70px;
	}

	.moderncart-slide-out-recommendations .moderncart-cart-item-product-link a {
		white-space: nowrap;
	}
}

@media only screen and ( max-width: 500px ) {
	.moderncart-slide-out-cart .moderncart-cart-item-container {
		display: inherit;
	}

	.moderncart-slide-out-cart .moderncart-cart-item-product-link a {
		font-size: 13px;
		white-space: initial;
	}

	.moderncart-slide-out-cart .moderncart-cart-item-actions {
		max-width: 100px;
	}

	.moderncart-slide-out-recommendations .moderncart-cart-item-product-link a {
		white-space: nowrap;
	}

	.moderncart-slide-out-empty-cart-recommendations {
		padding: 10px;
	}

	.moderncart-slide-out-empty-cart-recommendations .moderncart-slide-out-empty-cart-recommendations-title {
		font-size: 22px;
		line-height: 28px;
	}

	.moderncart-slide-out-recommendations {
		padding-left: 0;
		padding-right: 0;
	}
}
